<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      <center>
      <p class="searchTab">
        <input placeholder="enter your query" ng-model="$ctrl.query" id="qs" ng-change="$ctrl.updateList()" 
         autocomplete="false"/>
        <input type="button" value="Search" ng-click="$ctrl.deepSearch()" />
      </p>
      <center>
      

    </div>
    
    <div class="col-md-10">
      <!--Body content-->

      <ul class="books">
        <li ng-repeat="book in $ctrl.books" class="thumbnail-one">
          <!--a href="#!/books/{{book.id.text}}" class="thumb phone-thumb">
            <img ng-src="{{book.best_book.small_image_url}}" alt="{{book.best_book.title}}" />
          </a-->
          <a href="#!/books/{{book.id.__text}}">{{book.best_book.title}}</a>
          - {{book.best_book.author.name}}
        </li>
        <li class="thumbnail-one" ng-hide="$ctrl.books == null || $ctrl.books.length == 0">
          <a ng-click="$ctrl.deepSearch()">{{$ctrl.totalResults}} more results...</a>
        </li>
      </ul>

    </div>
  </div>
</div>
