<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2 ng-model="quer" class="center-text">{{msg}} {{quer}}</h2>

    </div>

  </div>
  <div class="row">
    <!--Sidebar content
    <div class="col-md-2">
      

      <p class="searchTab">
        <input ng-model="$ctrl.query" />
        <input type="button" value="Search" ng-click="$ctrl.deepSearch()" />
      </p>

         
      

    </div>
    --> 
    <div class="col-md-12">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="book in $ctrl.books | filter:$ctrl.query" class="thumbnail">
          <a href="#!/books/{{book.id.text}}" class="thumb phone-thumb">
            <img ng-src="{{book.best_book.small_image_url}}" alt="{{book.best_book.title}}" />
          </a>
          <a href="#!/books/{{book.id.text}}">{{book.best_book.title}}</a>
          <p>{{book.best_book.author.name}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
